# Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Import Data

In [2]:
# Folder path

path = r"C:\Users\marce\Documents\Instacart Basket Analysis"

In [3]:
# Import order_products_prior.csv

df_ords_prior= pd.read_csv(os.path.join (path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col= False)

In [4]:
# Import orders_checked.csv

df_ords= pd.read_csv(os.path.join (path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col= False)

In [5]:
# Check the output for df_ords_prior

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Check the output for df_ords_check

df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [7]:
# Drop 'Unnamed:0.1' and 'Unnamed:0' Columns

df_ords.drop(columns = {'Unnamed: 0.1', 'Unnamed: 0'}, inplace = True)

In [8]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [9]:
# Change types for df_ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id']=df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [10]:
# Check output to see memory usage

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

In [11]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [12]:
# Change types for df_ords_prior data set

df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')
df_ords_prior['product_id']=df_ords_prior['product_id'].astype('int32')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')

In [13]:
# Check output to see memory usage

df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [14]:
df_ords_prior.shape

(32434489, 4)

In [15]:
df_ords.shape

(3421083, 6)

# Merge df_ords with df_ords_prior

In [16]:
# Merge df_ords with df_ords_prior

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id',how ='outer', indicator = True)

In [17]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [18]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [19]:
df_merged_large.shape

(32640698, 10)

# Export Data

In [20]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.csv'))

In [21]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_cpmbined.pkl'))