# Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Import Data

In [2]:
#Set path

path = r"C:\Users\marce\Documents\Instacart Basket Analysis"

In [3]:
# Import orders_products_combined.pkl

df_orders_products_combined= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_cpmbined.pkl'))

In [4]:
# Import products data set

df_products_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

#  4. Check the shape of the imported dataframe
(it should be the same as the one you exportedâ€”always check!).

In [5]:
# Check the dimension of the imported df_orders_products_combined

df_orders_products_combined.shape

(32640698, 10)

In [6]:
# Check outputs for df_orders_products_combined

df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [7]:
# Check the dimension of df_products_checked 

df_products_checked.shape

(49672, 6)

In [8]:
# Check outputs for df_products_checked 

df_products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Drop unnamed column for df_prods
df_products_checked = df_products_checked.drop(columns = ['Unnamed: 0'])

In [10]:
# Check info for df_products_checked

df_products_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

#  5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [11]:
df_merged = df_orders_products_combined.merge(df_products_checked, on ='product_id',how = 'inner', indicator = 'exists')

In [12]:
# Check output for df_merged

df_merged.head ()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,Soda,77,7,9.0,both

# 6. Confirm the results of the merge using the merge flag

In [13]:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
# Check df_merged size

df_merged.shape

(32404859, 15)

# 7.Export the newly created dataframe as orders_products_merged
in a suitable format (taking into consideration the size).

In [16]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))